{
    "singleQuote": true,
    "jsxSingleQuote": true,
		"semi": true,
		"useTabs": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
		"arrowParens": "avoid",
		"trailingComma": "es5",
		"htmlWhitespaceSensitivity": "ignore",
		"endOfLine": "auto",
		"proseWrap": "preserve",
		"printWidth": 100
}
